<main class="relative flex flex-col items-center justify-between" id="main">
    <h1 class="flex flex-col items-center font-semibold">
        <div class="text-6xl max-md:text-4xl text-amber-400">TIC</div>
        <div class="text-5xl max-md:text-3xl text-transparent" style="-webkit-text-stroke: 1px #FBBF1A;">TAC-TOE</div>
    </h1>
    <div class="w-full max-w-[400px]">
        <router-outlet></router-outlet>
    </div>
    <h2 class="text-center">
        <div class="text-[10px] text-zinc-400">PROYECTO CREADO POR:</div>
        <div class="text-sm text-amber-400">SHADOWS CODE</div>
    </h2>
</main>